body, html {
    width: 100%;
    height: 100%;
    background: #16253D;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .btn-danger {
    background: transparent;
    border-radius: 10px;
    color: #d9534f;
    font-family: 'Source San Pro', sans-serif;
    font-size: 20px;
    font-weight: 200;
    transition: all 0.5s ease-in;
  }
  
  .btn-danger:hover {
    color: #e79290;
  }
  h1, h2 {
    font-family: Lato, sans-serif;
  }
  
  .header {
    color: #EFB509;
    height: 100%;
    text-align: center;
    padding-top: 5px;
  }
  
  .header .cover-heading {
    font-size: 58px;
    color: #EFB509;
    margin-bottom: 3.6rem;
  }
  
  /* slider */
  input[type=range] {
    -webkit-appearance: none;
    margin: 20px 0 40px;
    width: 100%;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    transition: all 0.5s ease;
    background: #002C54;
    border-radius: 5px;
    border: 0px solid #000101;
  }
  
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 21px;
    width: 20px;
    border-radius: 10px;
    background: #EFB509;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #EFB509;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #CD7213;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 21px;
    width: 20px;
    border-radius: 10px;
    background: #EFB509;
    cursor: pointer;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
  }
  
  input[type=range]::-ms-fill-lower {
    background: #CD7213;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  
  input[type=range]::-ms-fill-upper {
    background: #CD7213;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 21px;
    width: 20px;
    border-radius: 7px;
    background: #EFB509;
    cursor: pointer;
  }
  
  input[type=range]:focus::-ms-fill-lower {
    background: #EFB509;
  }
  
  input[type=range]:focus::-ms-fill-upper {
    background: #EFB509;
  }
  /* end of slider */
  
  label.disc {
      background: rgba(75, 105, 123, .7);
      position: fixed;
      bottom: 0;
      right: 5px;
      font-size: 1.5rem;
      font-weight: 100;
      text-align: center;
      letter-spacing: 2px;
      padding: 1rem;
      cursor: pointer;
      box-shadow: 0 0 3px rgba(25,42, 46,.75);
  }
  
  .disc-href, .disc-href:visited {
    color: #ccc;
  }
  
  .disc-href:hover {
    color: #fff;
    text-decoration: none;
  }
  
  label.disc:hover{
    background: rgba(75, 105, 123, .85);
  }
  
  .pBox {
    height: 280px;
    width: 280px;
    border: 1px solid #EFB509;
    border-radius: 50%;
    cursor: pointer;
    margin: 1px auto 20px;
    overflow: hidden;
    /* prevent selection of text inside keys */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .pBox:hover .hover-play {
    opacity: 1;
  }
  
  .hover-playing {
    opacity: 0 !important;
  }
  
  .hover-play {
    position: relative;
    display: block;
    background: rgba( 33, 33, 33, 0.8);
    top: 1px;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    margin: -280px auto;
    padding: 90px 90px 90px 90px;
    z-index: 50;
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  
  .hover-play svg {
    font-size: 7em;
    height: 100%;
    color: #906d05;
  }
  
  .timer {
    margin: 50px auto;
    font-size: 60px;
    z-index: 10;
  }

  .timer-box-input {
    background: #16253D;
    border: 1px solid #EFB509;
    color: #EFB509;
    border-radius: 4px;
    width: 45px;
    font-size: 20px;
    text-align: center;
    transition: all 0.4s ease;
  }
  
  .timer-box-input:focus {
    border: 1px solid #CD7213;
    box-shadow: none;
    outline: none;
  }
  
  .timer-ctrl {
    width: 50%;
    margin: 0 auto 50px;
    font-family: Lato, sans-serif;
    font-size: 20px;
  }
  
  .timer-slider {
    margin: 10px 0 20px;
  }