<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
@import url("https://fonts.googleapis.com/css?family=Lato:100|Source+Sans+Pro:200,400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.0/animate.min.css");
</style>
